.footer-container{
   display: flex;
   clear: both;
   bottom: 0;
   width: 100%;
   min-height: 150px;
   padding: 60px;
   background-color: var(--light-brown);
   justify-content: space-evenly;
   align-items: center;
}

.footer-container span{
   color: whitesmoke;
   font-size: 20px;
   padding: 5px;
}

.footer-container span:hover,
.logos img:hover
{
   cursor: pointer;
}

.footer-links{
   display: flex;
   flex: 4;
   justify-content: space-evenly;
}

.logos{
   display: flex;
   flex: 2;
   align-items: center;
   justify-content: space-around;
}

.logos img{
   margin-left: 15px;
}
