.home-container{
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: var(--dark-brown);
}

.content{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hamburguer-container{
   display: flex;
   position: absolute;
   justify-content: space-between;
   padding: 0 auto;
   width: 100%;
}

.frame{
   display: flex;
   flex-direction: column;
   position: relative;
   margin: 80px 150px;
   padding: 40px;
   background-color: rgba(20, 20, 20, 0.6);
   border: 3px solid var(--main-yellow);
   border-radius: 20px;
}

.frame-container{
   align-self: center;
}

.frame-header{
   text-align: center;
   font-family: 'Abhaya Libre', serif;
   font-weight: bold;
   font-size: 55px;
   color: var(--main-yellow);
   margin-bottom: 40px;
}

.frame-text p{
   color: whitesmoke;
   font-size: 25px;
   margin-bottom: 15px;
}

.order-button{
   padding: 25px;
   border: 3px solid #dd1313;
   border-radius: 20px;
   background-color: transparent;
   color: whitesmoke;
   transition: all 200ms ease-in;
   font-size: 25px;
   margin-top: -50px;
   margin-bottom: 50px;
}

.order-button:hover{
   cursor: pointer;
   background-color: #6f1717;
   font-size: 28px;
}